@use "../colors" as colors;

.container {
  background: colors.$elevated1;
  border-radius: 1em;
  padding: 1.5em 0.75em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.h2 {
  font-size: 1.2em;
  font-weight: 550;
  margin: 0 0.75em;
}

.users {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.userCard {
  padding: 0.75em;
  display: flex;
  gap: 1em;
  align-items: center;
  border-radius: 1em;
  cursor: pointer;
  transition: 0.3s ease;

  &:hover {
    background: colors.$elevated2;
  }

  .avatar {
    width: 2.75em;
    height: 2.75em;
    border-radius: 50%;
  }

  .right {
    display: flex;
    gap: 1em;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .name {
    font-weight: 550;
    font-size: 0.9em;
  }

  .username {
    font-size: 0.8em;
    color: colors.$grey;
  }

  .follow {
    background: colors.$foreground;
    border: none;
    border-radius: 100em;
    font-size: 0.925em;
    padding: 0.325em 1.35em;
    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
      filter: brightness(1.25);
    }
  }
}

.showMore {
  background: colors.$foreground;
  margin: 0 0.75em;
  font-size: 0.925em;
  border-radius: 0.5em;
  border: none;
  padding: 0.25em 0;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s ease;

  &:hover {
    filter: brightness(1.25);
  }
}
