@use "../_reset";
@use "../colors" as colors;
@use "../fonts" as fonts;

.wrapper {
  padding: 2em;
  min-height: 100vh;
  color: colors.$foreground;
  background: colors.$background;
  font-size: fonts.$fluidFontSize;
  font-family: fonts.$fontFamily;
}

.container {
  margin: 0 auto;
  max-width: 120em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.gridContainer {
  display: grid;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(3, 1fr); /* Always create 2 columns */
  gap: 1.5em;
}

.divider {
  height: 1px;
  background: colors.$elevated3;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.main {
  display: grid;
  grid-template-columns: 27.5fr 60fr 25fr;
  gap: 2em;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
