@use "../_reset";
@use "../colors" as colors;
@use "../fonts" as fonts;

.wrapper {
  padding: 2em;
  min-height: 100vh;
  color: colors.$foreground;
  background: colors.$background;
  font-size: fonts.$fluidFontSize;
  font-family: fonts.$fontFamily;
}

.container {
  margin: 0 auto;
  max-width: 120em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.divider {
  height: 1px;
  background: colors.$elevated3;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.main {
  display: grid;
  grid-template-columns: 26fr 60fr 24fr;
  gap: 2em;
}

.right {
}
