.profile-card {
  display: flex;
  flex-direction: column;
  background-color: #1c2730;
  border-radius: 1em;
  padding: 1.5em;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: #000;
  cursor: pointer;
  transition: 0.3s ease;

  &:hover {
    transform: scale(1.025);
  }
}

.profile-header {
  display: flex;
  align-items: flex-start; /* Align items at the start */
}

.profile-pic {
  border-radius: 50%;
  width: 4em;
  height: 4em;
  margin-right: 1.5em;
}

.profile-info {
  flex-grow: 1;
}

.profile-info h3 {
  margin: 0;
  font-size: 1.25em;
  font-weight: 550;
  color: #fff;
}

.profile-info p {
  margin: 0.25em 0;
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 0.95em;
}

.bio {
  padding: 0.5em 0;
  font-style: italic;
  color: #555;
}

.icon {
  margin-right: 0.75em;
  color: #63768a;
}

.tags-container {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.75em;
}

.tag {
  padding: 0.45em 1.4em;
  border-radius: 100em;
  font-size: 0.8em;
  color: #4493f8;
  font-weight: 500;
  background: rgba(#4493f8, 0.1);
  transition: 0.3s ease;

  &:hover {
    background: rgba(#4493f8, 0.25);
  }
}
